.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.map {
    display: flex;
    justify-self: flex-start;
    position: relative;
    width: 900px;
    height: 580px;
}

.mapControls {
    display: flex;
    justify-self: flex-end;
    flex-wrap: wrap;
    width: 505px;
    height: 580px;
}

.mapInfo {
    display: flex;
    justify-content: space-around;
}

.loadButtons {
    display: flex;
    justify-content: center;
    width: calc(100% - 5px);
    height: 50px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.loadButtons .btnLoad {
    width: 45%;
    height: 25px;
}
.loadButtons .btnRemove {
    width: 55%;
    height: 25px;
}

.markerControls {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: calc(100% - 5px);
    height: 60px;
    justify-content: left;
    line-height: 0.2rem;
}
.markerControls .draggingControl {
    padding-top: 0px;
    margin-top: 0px;
    height: 25px;
}
.markerControls .removeModeControl {
    padding-top: 0px;
    margin-top: 0px;
    height: 25px;
}

.searchWrapper {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 5px);
}
.searchWrapper .controlRadiusAdjustiment {
    display: flex;
    width: calc(100% - 5px);
    margin-top: 0px;
    padding-bottom: 10px;
    line-height: 0.2rem;
}
.searchWrapper .controlRadiusAdjustiment label {
    padding-top: 5px;
}
.searchWrapper .controlRadiusAdjustiment input {
    margin-top: 0px;
    width: 60%;
}
.searchWrapper .btnLocate {
    margin-top: 10px;
    float: right;
    width: 50%;
    height: 25px;
}

.typingSearchControls {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 5px);
}

.typingSearchControls .inputAndButtonSearch {
    width: 100%;
    flex-wrap: nowrap;
}

.typingSearchControls .inputQueryString {
    width: 82%;
    height: 25px;
}

.typingSearchControls .btnSearchAddress {
    width: 15%;
    height: 25px;
}

.controlDistanceCalc {
    display: flex;
    justify-content: center;
    width: calc(100% - 5px);
    flex-wrap: wrap;
    margin-top: 0px;
    padding-top: 0px;
}

.controlDistanceCalc div:first-child {
    padding-bottom: 0px;
}

.controlDistanceCalc div:last-child {
    width: 70%;
}

.controlDistanceCalc > div > button:first-child {
    width: 100%;
    height: 25px;
}
