<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
    />

    <link
            rel="stylesheet"
            th:href="@{/assets/js/leaflet.photon/leaflet.photon.css}"
    />

    <link
            rel="stylesheet"
            th:href="@{/assets/custom/css/styles.css}"
    />

    <style>

        .foundAddress {
            color: #2980b9;
        }
        .foundAddress:hover {
            color: #184e6d;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="mapid" class="map"></div>
    &nbsp;
    <div id="mapTwo"></div>
    &nbsp;
    <div class="mapControls">
        <div id="mapInfo" class="mapInfo">
            <span>Zoom atual do mapa:</span>
            &nbsp;
            <strong id="currentMapZoom">(Dê zoom no mapa para ativar...)</strong>
            &nbsp;
            <strong id="foundAddressesLength"></strong>
        </div>
        <div class="loadButtons">
            <button type="button" id="btnLoadMarkersOnMap" class="btnLoad">Carregar marcadores no mapa</button>
            <button type="button" id="btnRemoveAllMarkersFromMap" class="btnRemove">Remover todos os marcadores do mapa</button>
        </div>

        <div class="markerControls">
            <div class="draggingControl">
                <input type="checkbox" id="enableDragging">&nbsp;Tornar os marcadores movimentáveis
            </div>
            <div class="removeModeControl">
                <input type="checkbox" id="enableMarkerRemoving">&nbsp;Ativar modo de remoção de marcadores
            </div>
        </div>

        <div id="searchWrapper" class="searchWrapper">
            <div class="controlRadiusAdjustiment">
                <label>
                    Ajuste o raio no mapa:
                </label>
                &nbsp;
                <input type="range" id="rngRadiusControl" value="5000" min="1000" max="15000" >
            </div>
            <div>
                Latitude: &nbsp;<input type="text" id="inputLatitude" placeholder="-468937293">
                &nbsp;
                Longitude: &nbsp;<input type="text" id="inputLongitude" placeholder="390283028">
                <button type="button" id="reverseSearch" class="btnLocate">Localizar</button>
            </div>
            &nbsp;
            <div class="typingSearchControls">
                <div>
                    <label>Endereço ou lugar:</label>
                </div>
                <div class="inputAndButtonSearch">
                    <input type="text" id="inputQueryString" class="inputQueryString" placeholder="Avenida Vereador Narciso Yague Guimarães, Centro Cívico, SP, Brazil...">
                    <button type="button" id="querySearch" class="btnSearchAddress">Buscar</button>
                </div>
                <ul id="typingSearchResponse"></ul>
            </div>
        </div>
        <div class="controlDistanceCalc">
            <div>
                Latitude 1: &nbsp;<input type="text" id="inputLatitudeFrom" placeholder="Selecione um ponto...">
                Longitude 1: &nbsp;<input type="text" id="inputLongitudeFrom" placeholder="Selecione um ponto...">
            </div>
            <div>
                Latitude 2: &nbsp;<input type="text" id="inputLatitudeTo" placeholder="Selecione um ponto...">
                Longitude 2: &nbsp;<input type="text" id="inputLongitudeTo" placeholder="Selecione um ponto...">
            </div>
            <div>
                <button type="button" id="calculateDistanceBetweenTwoPoints">Calcular Distância entre os dois pontos</button>
            </div>
        </div>

        <div id="queryResponse"></div>
    </div>
</div>
<script
        src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""
></script>
<script th:src="@{/assets/js/node_modules/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/custom/js/script.js}"></script>
<script th:src="@{/assets/custom/js/reverseSearch.js}"></script>
<script th:src="@{/assets/custom/js/querySearch.js}"></script>
<script th:src="@{/assets/custom/js/getDistanceBetweenTwoPoints.js}"></script>
<script th:src="@{/assets/custom/js/typingSearch.js}"></script>
</body>
</html>